*{
    margin: 0; 
    padding: 0;
}


html,body {
    height: 100%;
    width: 100%;
}


aside {
    display: flex;
    flex: 0 0 40px;
    flex-direction: column;
    justify-content: space-around;
width: 4vw;
height: 80vh;
padding:0 0 0 15px;
}
    

section{
    position: relative;
    bottom: 33rem;
    margin-left: 4vw;
    height: 40vh;
}


.header .inside-header{
    padding: 3rem 7rem;
}


.header{
    font-family: Lato, sans-serif;
    color: #fff;
    background-color: rgb(78, 78, 78);
    font-size: 0.9em;
    width: 96vw;    
}


.col-lg-4 img{
    height: 200px;
    width: 300px;
    position: relative;
    bottom: 15px;
    right: 50px;
}



.col-lg-8 ul{
    display: flex;
    padding-top: 16% ;
    position: relative;
    right: 2rem;
    
}


.col-lg-8 ul li{
    position: relative;
    bottom: 60px;
    font-style: italic;
    list-style: none;
    margin-inline-end: 2rem;    
}



/* Music-List Section Start */

.music-list{
    height: 40vh;
    width: 90vw;
    margin: 10rem ;
    color: blue;
    position: relative;
    bottom: 42rem;
    right: 5rem;
}


.music-list .row{
    padding: .5rem 3rem;
}


.bg{
    background-color: rgb(242, 242, 242)
}


.footer{position: relative;
    bottom: 53rem;
    background-color: rgba(61, 100, 158, 0.9);
    height: 19vh;
    width:100vw;
    color: #fff;
    margin-right: auto;
}


.footer-img{
    height: 15vh;
    position:relative;
    top: 10px;
    left: 10px;
}


.footer-text p{
    margin-left: 160px;
    position: relative;
    bottom: 80px;
    line-height: 40px;
}


.music-controls{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 9rem;
    left:55rem ;
    width: 28rem;
}
